body {
  font-family: "Roboto", sans-serif;
  width: 1600px;
}
.header {
  line-height: 1.17;
  height: 80px;
}
.nav-list-item {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.nav-list-item:hover {
  color: #2196f3;
}
.logo {
  text-decoration: none;
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
}
.header-mail {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.header-mail:hover {
  color: #2196f3;
}
.header-tel {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.header-tel:hover {
  color: #2196f3;
}
/*

main page styles

*/
.title {
  background: #2f303a;
}
.title h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  color: #ffffff;
}
.buttons {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
}
.benefits {
  text-align: left;
}
.benefits h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}
.benefits li {
  font-size: 14px;
  line-height: 1.71;
}
.offers h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team {
  background: #f5f4fa;
}
.team h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team-member-name h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-member-name p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #757575;
}

/*

portfolio styles

*/
.filters .buttons {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #f5f4fa;
  color: black;
  text-transform: capitalize;
}
.filters .buttons:hover,
.buttons:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.project-name {
  text-transform: capitalize;
}
.project-name h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-name p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.project-list-item span {
  text-transform: lowercase;
}
/*

portfolio styles

*/

.footer {
  background-color: #2f303a;
  line-height: 1.17;
}
.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}
.address a {
  text-decoration: none;
  color: #ffffff99;
}
